#checkout {
    margin: auto;
    max-width: 32em;
}

#payment-pending {
    border: 1px solid lightgray;
    padding: 1em;
}

    #payment-pending form button {
        display: block;
        margin: 1em auto 0em;
    }

#payment-processing {
    border: 1px solid lightgray;
    padding: 1em;
}

    #payment-processing div {
        display: block;
        padding: 0.25em;
        margin: 0 auto;
        text-align: center;
    }

#payment-complete {
    border: 1px solid lightgray;
    padding: 1em;
}

    #payment-complete div {
        display: block;
        padding: 0.25em;
        margin: 0 auto;
        text-align: center;
    }
