<div id="checkout-info">
    <b>Order Id:</b> 2342537
    <hr />
    <div>
        <div>
            <div>Item A</div>
            <div>1.00</div>
        </div>
        <div>
            <div>Item B</div>
            <div>9.00</div>
        </div>
    </div>
    <hr />
    <div><b>Total</b> $10.00</div>
</div>

@code {

}
